table {
            border-collapse: separate !important;
        }

        .total_line {
            border: 3px solid LimeGreen;
        }


        .set_line {
            border: 3px solid DeepSkyBlue;
        }

        .card-data {
            color: red;
        }

        .Wnum {
            color: red;
        }

        .scroll {
            max-height: 200px;
            overflow-y: auto;
        }

        .myNodeClass {
            text-align: center;
            vertical-align: middle;
            font-family: arial, helvetica;
            cursor: default;
            border: 2px solid #b5d9ea;
            width: 200px;
            height: 100px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
            -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
            background-color: #856404;
            background: -webkit-gradient(linear, left top, left bottom, from(#b0d7ff), to(#b0d7ee));
        }

i {
    margin-left: 20px;
    font-size: 20px;
    height: 20px;
    vertical-align: middle;
}
.mySelectedNodeClass {
    border: 2px solid #b5d9ea;
    background-color: #856404;
    background: -webkit-gradient(linear, left top, left bottom, from(#b0d7ff), to(#b0d7ee));
}
