

.device-select{
    /* padding: 1px;
    
	 border: solid 1px #0077B0; 
    
	
	outline: 1; 
	
	
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #C6ECFF), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #C6ECFF 1px, #FFFFFF 25px); 
	
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 4px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 4px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 4px
	
	
	
	background: -webkit-gradient(linear from(#FFFFFF), color-stop(4%, #C6ECFF), to(#FFFFFF));
    
	linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
	
	
	
	 background: -webkit-gradient(linear, left top, left 25, from(#f69d3c), color-stop(4%, #C6ECFF), to(#f69d3c)); 
	*/
}






