<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MsgWeb</display-name>
  <distributable/>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/StackTrace.jsp</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/tlds/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/tlds/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/xml</taglib-uri>
      <taglib-location>/WEB-INF/tlds/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
      <taglib-location>/WEB-INF/tlds/fn.tld</taglib-location>
    </taglib>
  </jsp-config>
  <filter>
    <display-name>LoggingFilter</display-name>
    <filter-name>LoggingFilter</filter-name>
    <filter-class>tw.com.aptg.filter.LoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>tw.com.aptg.filter.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>yes</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>XSSFilter</display-name>
    <filter-name>XSSFilter</filter-name>
    <filter-class>tw.com.aptg.filter.XSSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
  <filter>
    <filter-name>CAS SingleSignOut Filter</filter-name>
    <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
    <init-param>
      <param-name>casServerUrlPrefix</param-name>
      <param-value>https://auth.aptg.com.tw/cas</param-value>
    </init-param>
  </filter>
  <listener>
    <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>tw.com.aptg.listener.WebSessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>CAS Authentication Filter</filter-name>
    <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>casServerLoginUrl</param-name>
      <param-value>https://auth.aptg.com.tw/cas/login</param-value>
    </init-param>
    <init-param>
      <param-name>service</param-name>
      <param-value>http://localhost:8080/MsgWeb/secured/ReceiveAuth</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>CAS Validation Filter</filter-name>
    <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
    <init-param>
      <param-name>casServerUrlPrefix</param-name>
      <param-value>https://auth.aptg.com.tw/cas</param-value>
    </init-param>
    <init-param>
      <param-name>service</param-name>
      <param-value>http://localhost:8080/MsgWeb/secured/ReceiveAuth</param-value>
    </init-param>
    <init-param>
      <param-name>redirectAfterValidation</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>useSession</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>authn_method</param-name>
      <param-value>mfa-duo</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
    <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
  </filter>
  <filter>
    <filter-name>CAS Assertion Thread Local Filter</filter-name>
    <filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CAS SingleSignOut Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/secured/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Assertion Thread Local Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>indexA.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>getCaptchaImage</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.border</param-name>
      <param-value>no</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.border.color</param-name>
      <param-value>black</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.border.thickness</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.image.width</param-name>
      <param-value>130</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.image.height</param-name>
      <param-value>50</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.producer.impl</param-name>
      <param-value>com.google.code.kaptcha.impl.DefaultKaptcha</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.impl</param-name>
      <param-value>com.google.code.kaptcha.text.impl.DefaultTextCreator</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.string</param-name>
      <param-value>0123456789</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.length</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.names</param-name>
      <param-value>Arial</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.size</param-name>
      <param-value>40</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.color</param-name>
      <param-value>black</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.space</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.noise.impl</param-name>
      <param-value>com.google.code.kaptcha.impl.DefaultNoise</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.noise.color</param-name>
      <param-value>black</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.obscurificator.impl</param-name>
      <param-value>com.google.code.kaptcha.impl.ShadowGimpy</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.background.impl</param-name>
      <param-value>com.google.code.kaptcha.impl.DefaultBackground</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.word.impl</param-name>
      <param-value>com.google.code.kaptcha.text.impl.DefaultWordRenderer</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCaptchaImage</servlet-name>
    <url-pattern>/getCaptchaImage.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackendLogin</display-name>
    <servlet-name>BackendLogin</servlet-name>
    <servlet-class>tw.com.aptg.action.BackendLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendLogin</servlet-name>
    <url-pattern>/backend/login.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadAdAction</display-name>
    <servlet-name>UploadAdAction</servlet-name>
    <servlet-class>tw.com.aptg.action.UploadAdAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAdAction</servlet-name>
    <url-pattern>/backend/upload_ad.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAdImage</display-name>
    <servlet-name>GetAdImage</servlet-name>
    <servlet-class>tw.com.aptg.api.GetAdImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdImage</servlet-name>
    <url-pattern>/APIs/public/getAdImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveAuth</display-name>
    <servlet-name>ReceiveAuth</servlet-name>
    <servlet-class>tw.com.aptg.adapter.ReceiveAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveAuth</servlet-name>
    <url-pattern>/secured/ReceiveAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmsSend</display-name>
    <servlet-name>SmsSend</servlet-name>
    <servlet-class>tw.com.aptg.action.SmsSend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmsSend</servlet-name>
    <url-pattern>/secured/SmsSend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInbox</display-name>
    <servlet-name>GetInbox</servlet-name>
    <servlet-class>tw.com.aptg.action.GetInbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInbox</servlet-name>
    <url-pattern>/secured/GetInbox</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>GetHistory</display-name>
    <servlet-name>GetHistory</servlet-name>
    <servlet-class>tw.com.aptg.action.GetHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHistory</servlet-name>
    <url-pattern>/secured/GetHistory</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>DeleteInbox</display-name>
    <servlet-name>DeleteInbox</servlet-name>
    <servlet-class>tw.com.aptg.action.DeleteInbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInbox</servlet-name>
    <url-pattern>/secured/DeleteInbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDraftbox</display-name>
    <servlet-name>UpdateDraftbox</servlet-name>
    <servlet-class>tw.com.aptg.action.UpdateDraftbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDraftbox</servlet-name>
    <url-pattern>/secured/UpdateDraftbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDraftbox</display-name>
    <servlet-name>DeleteDraftbox</servlet-name>
    <servlet-class>tw.com.aptg.action.DeleteDraftbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDraftbox</servlet-name>
    <url-pattern>/secured/DeleteDraftbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDraftbox</display-name>
    <servlet-name>GetDraftbox</servlet-name>
    <servlet-class>tw.com.aptg.action.GetDraftbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDraftbox</servlet-name>
    <url-pattern>/secured/GetDraftbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveDraftBox</display-name>
    <servlet-name>SaveDraftBox</servlet-name>
    <servlet-class>tw.com.aptg.action.SaveDraftBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveDraftBox</servlet-name>
    <url-pattern>/secured/SaveDraftBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShortCodeAction</display-name>
    <servlet-name>ShortCodeAction</servlet-name>
    <servlet-class>tw.com.aptg.action.ShortCodeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShortCodeAction</servlet-name>
    <url-pattern>/backend/ShortCodeAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAction</display-name>
    <servlet-name>UserAction</servlet-name>
    <servlet-class>tw.com.aptg.action.UserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAction</servlet-name>
    <url-pattern>/backend/UserAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrefixCodeAction</display-name>
    <servlet-name>PrefixCodeAction</servlet-name>
    <servlet-class>tw.com.aptg.action.PrefixCodeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrefixCodeAction</servlet-name>
    <url-pattern>/backend/PrefixCodeAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManualAction</display-name>
    <servlet-name>ManualAction</servlet-name>
    <servlet-class>tw.com.aptg.action.ManualAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManualAction</servlet-name>
    <url-pattern>/backend/ManualAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryCodeAction</display-name>
    <servlet-name>CountryCodeAction</servlet-name>
    <servlet-class>tw.com.aptg.action.CountryCodeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryCodeAction</servlet-name>
    <url-pattern>/backend/CountryCodeAction.action</url-pattern>
  </servlet-mapping>
</web-app>